*, *:after, *:before { vertical-align: top; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; -moz-osx-font-smoothing: subpixel-antialiased; -webkit-font-smoothing: subpixel-antialiased; -moz-font-smoothing: subpixel-antialiased; -ms-font-smoothing: subpixel-antialiased; -o-font-smoothing: subpixel-antialiased; }

a { display: inline-block; cursor: pointer; text-decoration: none; outline: 0; }

button { display: inline-block; cursor: pointer; outline: 0; border: 0; background-color: transparent; }

.f_nav { display: inline-block; color: white; font-size: 1rem; float: left; margin-right: 50px; -moz-transition: all 0.3s; -o-transition: all 0.3s; -webkit-transition: all 0.3s; transition: all 0.3s; }
.f_nav:hover, .f_nav:active { color: #4a8fe1; }

.pro_link { display: inline-block; width: 100%; height: 100%; border: 2px solid transparent; background-color: transparent; position: absolute; top: 0; left: 0; -moz-transition: all 0.3s; -o-transition: all 0.3s; -webkit-transition: all 0.3s; transition: all 0.3s; z-index: 1111; }
.pro_link:hover, .pro_link:active { border: 2px solid #0d2846; }

.like { display: inline-block; width: 25px; height: 25px; position: absolute; right: 15px; z-index: 2222; }
@media screen and (max-width: 449px) and (min-width: 0) { .like { height: 18px; right: 10px; } }
.like:after { display: inline-block; content: '\f08a'; font-size: 1.2rem; font-family: 'icon'; color: #8e8e8e; }
@media screen and (max-width: 449px) and (min-width: 0) { .like:after { font-size: 1rem; } }
.like:hover:after, .like:active:after, .like:focus:after { content: '\f004'; color: red; }

.cate_link { display: inline-block; width: 100%; height: 100%; position: absolute; top: 0; left: 0; }

.btn_car { display: inline-block; width: 40px; height: 40px; position: absolute; top: 15px; right: 15px; z-index: 2222; background-color: rgba(255, 255, 255, 0.8); -moz-border-radius: 20px; -webkit-border-radius: 20px; border-radius: 20px; font-size: 1.3rem; color: #fd472a; -moz-transition: all 0.3s; -o-transition: all 0.3s; -webkit-transition: all 0.3s; transition: all 0.3s; }
.btn_car.btn_trash { color: #8e8e8e; font-size: 1.2; }
.btn_car.btn_trash:hover, .btn_car.btn_trash:active, .btn_car.btn_trash:focus { background-color: #8e8e8e; color: white; }
@media screen and (max-width: 449px) and (min-width: 0) { .btn_car { width: 35px; height: 35px; font-size: 1.2rem; top: 10px; right: 10px; } }
.btn_car:hover, .btn_car:active, .btn_car:focus { background-color: #fd472a; color: white; }

.pro03_btn_box { display: inline-block; width: 50%; position: absolute; left: 25%; bottom: -30px; padding: 10px 0; background-color: white; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; color: #0d2846; font-size: 1.3rem; -moz-transition: all 0.3s; -o-transition: all 0.3s; -webkit-transition: all 0.3s; transition: all 0.3s; }
@media screen and (max-width: 449px) and (min-width: 0) { .pro03_btn_box { width: 75%; left: 11%; bottom: 30px; font-size: 1.2rem; padding: 5px 0; } }
.pro03_btn_box:after { display: inline-block; content: attr(title); width: 100%; font-size: 1rem; color: #636363; text-decoration: underline; }
@media screen and (max-width: 449px) and (min-width: 0) { .pro03_btn_box:after { font-size: .9rem; } }
.pro03_btn_box:hover, .pro03_btn_box:active { background-color: #4a8fe1; color: white; }
.pro03_btn_box:hover:after, .pro03_btn_box:active:after { color: white; }

.btn_more_grey { display: inline-block; padding: 10px 25px; background-color: transparent; border: 1px solid #636363; font-size: 1.2rem; color: #636363; -moz-border-radius: 30px; -webkit-border-radius: 30px; border-radius: 30px; -moz-transition: all 0.3s; -o-transition: all 0.3s; -webkit-transition: all 0.3s; transition: all 0.3s; }
@media screen and (max-width: 449px) and (min-width: 0) { .btn_more_grey { font-size: 1rem; padding: 8px 20px; } }
.btn_more_grey:hover, .btn_more_grey:active { border: 1px solid #0d2846; background-color: #0d2846; color: white; }

.btn_more_blue { display: inline-block; padding: 10px 25px; background-color: transparent; border: 1px solid #0d2846; font-size: 1rem; color: #0d2846; -moz-border-radius: 30px; -webkit-border-radius: 30px; border-radius: 30px; -moz-transition: all 0.3s; -o-transition: all 0.3s; -webkit-transition: all 0.3s; transition: all 0.3s; }
@media screen and (max-width: 449px) and (min-width: 0) { .btn_more_blue { padding: 8px 20px; } }
.btn_more_blue:hover, .btn_more_blue:active { border: 1px solid #0d2846; background-color: #0d2846; color: white; }

.menu_mob { display: inline-block; width: calc(100% / 3); padding: 15px 0 13px 0; float: left; color: #8e8e8e; font-size: 1rem; border-bottom: 2px solid white; }
.menu_mob.menu_log_grey { border-bottom: 2px solid whitesmoke; }
.menu_mob.page_menu_grey { background-color: whitesmoke; }
.menu_mob.page_menu_grey:hover, .menu_mob.page_menu_grey:active, .menu_mob.page_menu_grey.menu_mob_ac2 { color: #4a8fe1; border-bottom: 2px solid #4a8fe1; }
.menu_mob:hover, .menu_mob:active, .menu_mob.menu_mob_ac { color: #0d2846; border-bottom: 2px solid #0d2846; }

.menu_web { display: inline-block; font-size: 1.1rem; color: white; margin-right: 20px; -moz-transition: all 0.3s; -o-transition: all 0.3s; -webkit-transition: all 0.3s; transition: all 0.3s; }
.menu_web:hover, .menu_web:active { color: #fd472a; }

.page_type { color: #636363 !important; }
.page_type:hover, .page_type:active { color: #4a8fe1 !important; }

.menu_icon { display: inline-block; font-size: 1.35rem; color: white; margin-left: 30px; -moz-transition: all 0.3s; -o-transition: all 0.3s; -webkit-transition: all 0.3s; transition: all 0.3s; }
@media screen and (max-width: 449px) and (min-width: 0) { .menu_icon { margin-left: 15px; } }
.menu_icon:hover, .menu_icon:active { color: #fd472a; }

.link_bread { display: inline-block; color: rgba(142, 142, 142, 0.5); font-size: 1rem; float: left; -moz-transition: all 0.3s; -o-transition: all 0.3s; -webkit-transition: all 0.3s; transition: all 0.3s; }
@media screen and (max-width: 449px) and (min-width: 0) { .link_bread { font-size: .9rem; } }
.link_bread:after { display: inline-block; content: '/'; margin: 4px 8px 0 8px; }
.link_bread:hover, .link_bread:active { color: #0d2846; }
.link_bread:hover:after, .link_bread:active:after { color: #8e8e8e; }
.link_bread:last-child:after { display: none; }
