*, *:after, *:before { vertical-align: top; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; -moz-osx-font-smoothing: subpixel-antialiased; -webkit-font-smoothing: subpixel-antialiased; -moz-font-smoothing: subpixel-antialiased; -ms-font-smoothing: subpixel-antialiased; -o-font-smoothing: subpixel-antialiased; }

.ds { display: inline-block; }

.order_left { float: left !important; }

.order_right { float: right !important; }

.text_left { text-align: left; }

.text_right { text-align: right; }

.mob_close { display: inline-block !important; }
@media screen and (max-width: 449px) and (min-width: 0) { .mob_close { display: none !important; } }

.mob_open { display: none !important; }
@media screen and (max-width: 449px) and (min-width: 0) { .mob_open { display: inline-block !important; } }

.pro_style01, .pro_style02, .pro_style03 { display: inline-block; width: 100%; position: relative; }

.pro_style01 .pro01_img { display: inline-block; width: 100%; height: 255px; position: relative; }
@media screen and (max-width: 449px) and (min-width: 0) { .pro_style01 .pro01_img { height: 162px; } }

.pro_style02 .pro02_img { display: inline-block; width: 100%; height: 285px; position: relative; }
@media screen and (max-width: 449px) and (min-width: 0) { .pro_style02 .pro02_img { height: 162px; } }
.pro_style02 .pro02_img_five { display: inline-block; width: 100%; height: 220px; position: relative; }
@media screen and (max-width: 449px) and (min-width: 0) { .pro_style02 .pro02_img_five { height: 162px; } }

.pro_style03 .pro03_img { display: inline-block; width: 100%; height: 387px; }
@media screen and (max-width: 449px) and (min-width: 0) { .pro_style03 .pro03_img { height: 375px; } }

.cate_img { display: inline-block; width: 100%; max-width: 80px; background-color: #e6e4e2; -moz-border-radius: 60px; -webkit-border-radius: 60px; border-radius: 60px; overflow: hidden; }
