*, *:after, *:before { vertical-align: top; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; -moz-osx-font-smoothing: subpixel-antialiased; -webkit-font-smoothing: subpixel-antialiased; -moz-font-smoothing: subpixel-antialiased; -ms-font-smoothing: subpixel-antialiased; -o-font-smoothing: subpixel-antialiased; }

p { margin: 0; }

.f_copy { display: inline-block; font-size: 1rem; float: right; color: white; }
@media screen and (max-width: 449px) and (min-width: 0) { .f_copy { float: inherit; } }

.sec_title { display: inline-block; width: 100%; color: #114173; font-size: 2.2rem; font-weight: bolder; position: relative; }
@media screen and (max-width: 449px) and (min-width: 0) { .sec_title { font-size: 1.6rem; } }
.sec_title:before, .sec_title:after { display: inline-block; width: calc(43% - 15px); height: 1px; content: ''; background-color: #114173; position: absolute; top: 23px; }
@media screen and (max-width: 449px) and (min-width: 0) { .sec_title:before, .sec_title:after { width: calc(36% - 20px); top: 20px; } }
.sec_title:before { left: 0; margin-right: 15px; }
.sec_title:after { right: 0; margin-left: 15px; }

.sale_title { display: inline-block; width: 100%; font-size: 1.8rem; font-weight: bolder; color: #0d2846; text-align: left; padding: 85px 0; }
@media screen and (max-width: 449px) and (min-width: 0) { .sale_title { padding: 0 0 25px 0; text-align: center; } }
.sale_title:before { display: inline-block; width: 100%; content: attr(title); font-size: 1.2rem; font-weight: 400; line-height: 37px; }

.pro01_text { display: inline-block; width: 100%; text-align: left; padding-bottom: 15px; }
.pro01_text p { display: -webkit-box; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; -webkit-line-clamp: 2; -webkit-box-orient: vertical; white-space: normal; font-size: 1.2rem; color: #636363; }
@media screen and (max-width: 449px) and (min-width: 0) { .pro01_text p { font-size: 1rem; } }

.pro01_num { display: inline-block; width: 100%; font-size: 1.5rem; font-weight: bolder; color: red; text-align: left; }
@media screen and (max-width: 449px) and (min-width: 0) { .pro01_num { font-size: 1.3rem; }
  .pro01_num:before { width: 100%; } }
.pro01_num:before { display: inline-block; content: attr(title); color: #636363; font-size: 1rem; margin-right: 15px; text-decoration: line-through; line-height: 33px; }

.pro02_text { display: inline-block; width: 100%; text-align: left; padding-bottom: 15px; }
.pro02_text p { display: -webkit-box; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; -webkit-line-clamp: 2; -webkit-box-orient: vertical; white-space: normal; font-size: 1.2rem; color: #636363; }
@media screen and (max-width: 449px) and (min-width: 0) { .pro02_text p { font-size: 1rem; } }

.pro02_num { display: inline-block; font-size: 1.2rem; font-weight: bolder; color: #0d2846; text-align: left; float: left; }
@media screen and (max-width: 449px) and (min-width: 0) { .pro02_num { font-size: 1rem; } }
.pro02_num:before { display: inline-block; content: attr(title); margin-right: 5px; }

.points { display: inline-block; width: 100%; color: #4a8fe1; font-size: 1rem; text-align: left; }
@media screen and (max-width: 449px) and (min-width: 0) { .points { font-size: .9rem; } }

.text14 { display: inline-block; font-size: 1.1rem; }

.pad_T50 { padding-top: 50px; }
@media screen and (max-width: 449px) and (min-width: 0) { .pad_T50 { padding-top: 25px; } }

.pad_15 { padding: 15px 10px; }
@media screen and (max-width: 449px) and (min-width: 0) { .pad_15 { padding: 10px 8px; } }

.mad_D30 { margin-bottom: 30px; }
@media screen and (max-width: 449px) and (min-width: 0) { .mad_D30 { margin-bottom: 0; } }

.pad_T10 { padding-top: 10px; }

.pad_TD20 { padding: 20px 0; }
@media screen and (max-width: 449px) and (min-width: 0) { .pad_TD20 { padding: 15px; } }

.pad_D10 { padding-bottom: 10px; }

.mag_TD25 { margin: 25px 0; }

@media screen and (max-width: 449px) and (min-width: 0) { .m_mag_D25 { margin-bottom: 25px; } }

.ds { display: inline-block; }

.order_left { float: left !important; }

.order_right { float: right !important; }

.text_left { text-align: left; }

.text_right { text-align: right; }

.mob_close { display: inline-block !important; }
@media screen and (max-width: 449px) and (min-width: 0) { .mob_close { display: none !important; } }

.mob_open { display: none !important; }
@media screen and (max-width: 449px) and (min-width: 0) { .mob_open { display: inline-block !important; } }

.pro_style01, .pro_style02, .pro_style03 { display: inline-block; width: 100%; position: relative; }

.pro_style01 .pro01_img { display: inline-block; width: 100%; height: 255px; position: relative; }
@media screen and (max-width: 449px) and (min-width: 0) { .pro_style01 .pro01_img { height: 162px; } }

.pro_style02 .pro02_img { display: inline-block; width: 100%; height: 285px; position: relative; }
@media screen and (max-width: 449px) and (min-width: 0) { .pro_style02 .pro02_img { height: 162px; } }
.pro_style02 .pro02_img_five { display: inline-block; width: 100%; height: 220px; position: relative; }
@media screen and (max-width: 449px) and (min-width: 0) { .pro_style02 .pro02_img_five { height: 162px; } }

.pro_style03 .pro03_img { display: inline-block; width: 100%; height: 387px; }
@media screen and (max-width: 449px) and (min-width: 0) { .pro_style03 .pro03_img { height: 375px; } }

.cate_img { display: inline-block; width: 100%; max-width: 80px; background-color: #e6e4e2; -moz-border-radius: 60px; -webkit-border-radius: 60px; border-radius: 60px; overflow: hidden; }

a { display: inline-block; cursor: pointer; text-decoration: none; outline: 0; }

button { display: inline-block; cursor: pointer; outline: 0; border: 0; background-color: transparent; }

.f_nav { display: inline-block; color: white; font-size: 1rem; float: left; margin-right: 50px; -moz-transition: all 0.3s; -o-transition: all 0.3s; -webkit-transition: all 0.3s; transition: all 0.3s; }
.f_nav:hover, .f_nav:active { color: #4a8fe1; }

.pro_link { display: inline-block; width: 100%; height: 100%; border: 2px solid transparent; background-color: transparent; position: absolute; top: 0; left: 0; -moz-transition: all 0.3s; -o-transition: all 0.3s; -webkit-transition: all 0.3s; transition: all 0.3s; z-index: 1111; }
.pro_link:hover, .pro_link:active { border: 2px solid #0d2846; }

.like { display: inline-block; width: 25px; height: 25px; position: absolute; right: 15px; z-index: 2222; }
@media screen and (max-width: 449px) and (min-width: 0) { .like { height: 18px; right: 10px; } }
.like:after { display: inline-block; content: '\f08a'; font-size: 1.2rem; font-family: 'icon'; color: #8e8e8e; }
@media screen and (max-width: 449px) and (min-width: 0) { .like:after { font-size: 1rem; } }
.like:hover:after, .like:active:after, .like:focus:after { content: '\f004'; color: red; }

.cate_link { display: inline-block; width: 100%; height: 100%; position: absolute; top: 0; left: 0; }

.btn_car { display: inline-block; width: 40px; height: 40px; position: absolute; top: 15px; right: 15px; z-index: 2222; background-color: rgba(255, 255, 255, 0.8); -moz-border-radius: 20px; -webkit-border-radius: 20px; border-radius: 20px; font-size: 1.3rem; color: #fd472a; -moz-transition: all 0.3s; -o-transition: all 0.3s; -webkit-transition: all 0.3s; transition: all 0.3s; }
@media screen and (max-width: 449px) and (min-width: 0) { .btn_car { width: 35px; height: 35px; font-size: 1.2rem; top: 10px; right: 10px; } }
.btn_car:hover, .btn_car:active, .btn_car:focus { background-color: #fd472a; color: white; }

.pro03_btn_box { display: inline-block; width: 50%; position: absolute; left: 25%; bottom: -30px; padding: 10px 0; background-color: white; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; color: #0d2846; font-size: 1.3rem; -moz-transition: all 0.3s; -o-transition: all 0.3s; -webkit-transition: all 0.3s; transition: all 0.3s; }
@media screen and (max-width: 449px) and (min-width: 0) { .pro03_btn_box { width: 75%; left: 11%; bottom: 30px; font-size: 1.2rem; padding: 5px 0; } }
.pro03_btn_box:after { display: inline-block; content: attr(title); width: 100%; font-size: 1rem; color: #636363; text-decoration: underline; }
@media screen and (max-width: 449px) and (min-width: 0) { .pro03_btn_box:after { font-size: .9rem; } }
.pro03_btn_box:hover, .pro03_btn_box:active { background-color: #4a8fe1; color: white; }
.pro03_btn_box:hover:after, .pro03_btn_box:active:after { color: white; }

.btn_more_grey { display: inline-block; padding: 10px 25px; background-color: transparent; border: 1px solid #636363; font-size: 1.2rem; color: #636363; -moz-border-radius: 30px; -webkit-border-radius: 30px; border-radius: 30px; -moz-transition: all 0.3s; -o-transition: all 0.3s; -webkit-transition: all 0.3s; transition: all 0.3s; }
@media screen and (max-width: 449px) and (min-width: 0) { .btn_more_grey { font-size: 1rem; padding: 8px 20px; } }
.btn_more_grey:hover, .btn_more_grey:active { border: 1px solid #0d2846; background-color: #0d2846; color: white; }

.btn_more_blue { display: inline-block; padding: 10px 25px; background-color: transparent; border: 1px solid #0d2846; font-size: 1rem; color: #0d2846; -moz-border-radius: 30px; -webkit-border-radius: 30px; border-radius: 30px; -moz-transition: all 0.3s; -o-transition: all 0.3s; -webkit-transition: all 0.3s; transition: all 0.3s; }
@media screen and (max-width: 449px) and (min-width: 0) { .btn_more_blue { padding: 8px 20px; } }
.btn_more_blue:hover, .btn_more_blue:active { border: 1px solid #0d2846; background-color: #0d2846; color: white; }

.menu_mob { display: inline-block; width: calc(100% / 3); padding: 15px 0 13px 0; float: left; color: #8e8e8e; font-size: 1rem; border-bottom: 2px solid white; }
.menu_mob:hover, .menu_mob:active, .menu_mob.menu_mob_ac { color: #0d2846; border-bottom: 2px solid #0d2846; }

.menu_web { display: inline-block; font-size: 1.1rem; color: white; margin-right: 20px; -moz-transition: all 0.3s; -o-transition: all 0.3s; -webkit-transition: all 0.3s; transition: all 0.3s; }
.menu_web:hover, .menu_web:active { color: #fd472a; }

.menu_icon { display: inline-block; font-size: 1.35rem; color: white; margin-left: 30px; -moz-transition: all 0.3s; -o-transition: all 0.3s; -webkit-transition: all 0.3s; transition: all 0.3s; }
@media screen and (max-width: 449px) and (min-width: 0) { .menu_icon { margin-left: 15px; } }
.menu_icon:hover, .menu_icon:active { color: #fd472a; }

body { position: relative; display: inline-block; width: 100%; margin: 0; padding: 0; color: #5a5a5a; font-size: 13px; font-size: medium; text-align: center; font-family: 'Roboto', 'Noto Sans TC', "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif; text-size-adjust: none; -webkit-text-size-adjust: none; }

header { display: inline-block; width: 100%; background-image: url(../img/header_bg.png); background-repeat: repeat-x; background-attachment: fixed; }

#r_menu_boxs { display: inline-block; position: fixed; width: 100%; height: 100%; left: 100%; top: 0; z-index: 8888; background-color: white; overflow: auto; -moz-transition: left 0.3s, right 0.3s; -o-transition: left 0.3s, right 0.3s; -webkit-transition: left 0.3s, right 0.3s; transition: left 0.3s, right 0.3s; *zoom: 1; text-align: left; padding: 0; }
#r_menu_boxs.nav_open { left: 0; }
#r_menu_boxs:after { display: table; content: ""; line-height: 0; clear: both; }
#r_menu_boxs .r_menu_boxs { display: inline-block; width: calc(100% / 2); float: left; text-align: center; }
#r_menu_boxs .r_menu_boxs .r_menu_like { display: inline-block; width: 100%; border-bottom: 5px solid #f1f1f1; padding: 10px 0 5px 0; color: #636363; font-size: 1.23rem; }
#r_menu_boxs .r_menu_boxs .r_menu_like:after { display: inline-block; content: attr(title); font-size: .8rem; width: 100%; }
#r_menu_boxs .r_menu_boxs .r_menu_like:hover, #r_menu_boxs .r_menu_boxs .r_menu_like:active { color: #0d2846; border-bottom: 5px solid #0d2846; }
#r_menu_boxs > span { display: inline-block; width: 100%; padding: 10px 15px; color: #636363; text-decoration: none; cursor: pointer; -moz-transition: all 0.3s; -o-transition: all 0.3s; -webkit-transition: all 0.3s; transition: all 0.3s; border-bottom: 1px solid whitesmoke; }
#r_menu_boxs > span:after { display: inline-block; content: '\e902'; font-family: 'icon'; color: #636363; font-size: 1.23rem; float: right; }
#r_menu_boxs > span:hover, #r_menu_boxs > span:active { color: #636363; border-bottom: 0; background-color: #d8d8d8; }
#r_menu_boxs > a { display: inline-block; width: 100%; padding: 10px 15px; color: #8e8e8e; text-decoration: none; cursor: pointer; -moz-transition: all 0.3s; -o-transition: all 0.3s; -webkit-transition: all 0.3s; transition: all 0.3s; }
#r_menu_boxs > a:hover, #r_menu_boxs > a:active { background-color: yellow; }
#r_menu_boxs > a.th { padding-left: 40px; }
#r_menu_boxs > span, #r_menu_boxs > a { color: #8e8e8e; font-size: 1rem; }
#r_menu_boxs > span.db, #r_menu_boxs > a.db { padding: 10px 15px; border-bottom: 1px solid whitesmoke; }
#r_menu_boxs > span.db2, #r_menu_boxs > a.db2 { padding: 10px 15px 0 15px; }
#r_menu_boxs .ncu { cursor: auto; padding: 12px 15px; *zoom: 1; border-top: 0; margin: 0; background-color: #0d2846; }
#r_menu_boxs .ncu:after { display: table; content: ""; line-height: 0; clear: both; }
#r_menu_boxs .ncu .icon-x { display: inline-block; cursor: pointer; width: 30px; float: right; font-size: 1.35rem; text-decoration: none; text-align: right; color: white; }
#r_menu_boxs .s { border-bottom: 0; background-color: #d8d8d8; }
#r_menu_boxs .s:after { -moz-transform: rotate(90deg); -webkit-transform: rotate(90deg); -o-transform: rotate(90deg); -ms-transform: rotate(90deg); transform: rotate(90deg); color: #636363; }
#r_menu_boxs .s + div { display: block; }
#r_menu_boxs .m-smenu { display: none; border-bottom: 1px solid whitesmoke; }
#r_menu_boxs .m-smenu > a { display: inline-block; width: 100%; padding: 10px 15px 10px 20px; color: #8e8e8e; text-decoration: none; cursor: pointer; -moz-transition: all 0.3s; -o-transition: all 0.3s; -webkit-transition: all 0.3s; transition: all 0.3s; font-size: 1rem; border-bottom: 2px dotted whitesmoke; }
#r_menu_boxs .m-smenu > a:last-child { border-bottom: 0; }
#r_menu_boxs .m-smenu > a:hover, #r_menu_boxs .m-smenu > a:active { background-color: yellow; }

footer { display: inline-block; width: 100%; background-color: #0d2846; padding: 40px 0; }
@media screen and (max-width: 449px) and (min-width: 0) { footer { padding: 25px 0; } }
footer .footer_boxs { display: inline-block; width: 100%; max-width: 1200px; text-align: left; *zoom: 1; }
footer .footer_boxs:after { display: table; content: ""; line-height: 0; clear: both; }
@media screen and (max-width: 449px) and (min-width: 0) { footer .footer_boxs { text-align: center; } }
footer .footer_boxs .f_nav_box { display: inline-block; width: 50%; float: left; *zoom: 1; }
footer .footer_boxs .f_nav_box:after { display: table; content: ""; line-height: 0; clear: both; }
@media screen and (max-width: 449px) and (min-width: 0) { footer .footer_boxs .f_nav_box { display: none; } }

.banner_boxs { display: inline-block; width: 100%; height: 650px; background-color: rgba(255, 0, 0, 0.2); }
@media screen and (max-width: 449px) and (min-width: 0) { .banner_boxs { height: 175px; } }

main { display: inline-block; width: 100%; }

.all_boxs { display: inline-block; width: 100%; *zoom: 1; }
.all_boxs:after { display: table; content: ""; line-height: 0; clear: both; }
.all_boxs.bg_grey, .all_boxs.bg_blue, .all_boxs.bg_white, .all_boxs.bg_grey_l { padding: 50px 0; }
@media screen and (max-width: 449px) and (min-width: 0) { .all_boxs.bg_grey, .all_boxs.bg_blue, .all_boxs.bg_white, .all_boxs.bg_grey_l { padding: 25px 15px; } }
.all_boxs.bg_grey { background-color: whitesmoke; }
.all_boxs.bg_blue { background-color: #0d2846; }
.all_boxs.bg_white { background-color: white; }
.all_boxs.bg_grey_l { background-color: whitesmoke; }

.item_boxs { display: inline-block; width: 100%; max-width: 1200px; *zoom: 1; }
.item_boxs:after { display: table; content: ""; line-height: 0; clear: both; }
@media screen and (max-width: 449px) and (min-width: 0) { .item_boxs { max-width: none; } }

@media screen and (max-width: 449px) and (min-width: 0) { #cate_boxs { width: 100%; overflow-x: scroll; height: 115px; } }

.block2_l, .block2_r { display: inline-block; float: left; }

.block2_l { width: 20%; padding-right: 20px; }
@media screen and (max-width: 449px) and (min-width: 0) { .block2_l { width: 100%; } }

.block2_r { width: 80%; }
@media screen and (max-width: 449px) and (min-width: 0) { .block2_r { width: 100%; } }

.boxs_3, .boxs_4, .boxs_5 { display: inline-block; float: left; background-color: white; }

.boxs_3 { width: calc(100% / 3 - 20px * 2 / 3); }
.boxs_3:nth-child(3n+2) { margin: 0 20px; }
.boxs_3:nth-child(n+4) { margin-top: 50px; }
@media screen and (max-width: 449px) and (min-width: 0) { .boxs_3 { width: 100%; margin-bottom: 30px; }
  .boxs_3:nth-child(n+4) { margin-bottom: 0; }
  .boxs_3:nth-child(n+5) { display: none; }
  .boxs_3:nth-child(3n+2) { margin: 0 0 30px 0; }
  .boxs_3:nth-child(n+4) { margin-top: 0; } }

.boxs_4 { width: calc(100% / 4 - 20px * 3 / 4); margin-left: 20px; }
.boxs_4:nth-child(4n+1) { margin-left: 0; }
@media screen and (max-width: 449px) and (min-width: 0) { .boxs_4 { width: calc(100% / 2 - 15px * 1 / 2); margin-left: 15px; }
  .boxs_4:nth-child(2n+1) { margin-left: 0; }
  .boxs_4:nth-child(n+3) { margin-top: 20px; }
  .boxs_4:nth-child(4n+1) { margin-left: 0; } }

.boxs_5 { width: calc(100% / 5 - 25px * 4 / 5); margin-left: 25px; }
.boxs_5:nth-child(5n+1) { margin-left: 0; }
.boxs_5:nth-child(n+6) { margin-top: 25px; }
@media screen and (max-width: 449px) and (min-width: 0) { .boxs_5 { width: calc(100% / 2 - 15px * 1 / 2); margin-left: 15px; margin-bottom: 20px; }
  .boxs_5:nth-child(2n+1) { margin-left: 0; }
  .boxs_5:nth-child(n+7) { display: none; }
  .boxs_5:nth-child(5n+1) { margin-left: auto; }
  .boxs_5:nth-child(n+6) { margin-top: 0; margin-left: 15px; } }

.boxs_8 { display: inherit; width: calc(100% / 8 - 40px * 7 / 8); float: left; margin-left: 40px; position: relative; }
.boxs_8:nth-child(8n+1) { margin-left: 0; }
@media screen and (max-width: 449px) and (min-width: 0) { .boxs_8 { width: 80px; } }

.top_left, .top_main, .top_right { display: inline-block; }

.top_left { float: left; }
@media screen and (max-width: 449px) and (min-width: 0) { .top_left { display: none; } }

.top_main { margin: 0 auto; }
@media screen and (max-width: 449px) and (min-width: 0) { .top_main { float: left; } }

.top_right { float: right; }
