@import "Ginkgo";
@import "color";


.banner {
  display: inline-block;
  width: 100%;
  margin-bottom: 140px;


  &.full {
    width: 100%;
    margin-bottom: 0;

    @include range-width(0, 660px) {
      padding: 0 ;
      margin-top: 0;
    }

    .box {
      width: 100%;
      height: 650px;

      @include range-width(690px, 990px) {
        height: 500px;
      }

      @include range-width(475px, 690px) {
        height: 350px;
      }

      @include range-width(414px, 475px) {
        height: 260px;
      }

      @include range-width(0, 414px) {
        height: 215px;
      }

      .item {
        width: 100%;
        height: 100%;

        .pic_full {
          display: inline-block;
          width: 100%;

          img {
            width: 100%;
            height: auto;
          }
        }
        

        @for $i from 1 through 10 {
          &:nth-child(#{$i}) {
            left: calc(100% * #{$i - 2});
          }
        }
      }
    }

    position: relative;

    .av {
      position: absolute;
      left: 0;
      top: 45%;
      display: inline-block;
      width: 80px;
      height: 80px;
      font-size: 5em;
      color: rgba(255, 255, 255, .3);
      @include transition(all .3s);
      
      @include range-width(690px, 990px) {
        font-size: 4em;
        top: 45%;
        width: 60px;
        height: 60px;
      }

      @include range-width(475px, 690px) {
        font-size: 4em;
        top: 40%;
        width: 60px;
        height: 60px;
      }

      @include range-width(0, 475px) {
        font-size: 3em;
        top: 40%;
        width: 50px;
        height: 50px;
      }

      &.right {
        left: auto;
        right: 0;
        width: 60px;
        height: 60px;
      }

      &:hover, &:active {
        color: rgba(255, 74, 4, 1.00);
      }
    }
  }

  &.tran .box .item {
    @include transition(left .3s);
  }

  @include range-width(325px, 660px) {
    padding: 0 10px;
    margin-bottom: 80px;
    margin-top: 20px;
  }

  @include range-width(0, 325px) {
    padding: 0 10px;
    margin-bottom: 50px;
    margin-top: 40px;
  }

  .box {
    display: inline-block;
    width: 1200px;
    margin: 0 auto;
    height: 410px;
    overflow: hidden;
    position: relative;


    @include range-width(1065px, 1355px) {
      width: 875px;
    }

    @include range-width(860px, 1065px) { 
      width: 675px;
      height: 350px;
    }

    @include range-width(800px, 860px) {
      width: 575px;
      height: 350px;
    }

    @include range-width(660px, 800px) {
      width: 475px;
      height: 360px;
    }

    @include range-width(320px, 660px) {
      width: 320px;
      height: 450px;
    }

    @include range-width(0, 320px) {
      width: 320px;
      height: 400px;
    }


    .item {
      width: 300px;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      padding-right: 30px;

      @for $i from 1 through 10 {
        &:nth-child(#{$i}) {
          left: 300px * ($i - 2);
        }
      }

      @include range-width(860px, 1065px) {
        width: 230px;
        height: 320px;
        padding-right: 20px;


        @for $i from 1 through 10 {
          &:nth-child(#{$i}) {
            left: 230px * ($i - 2);
          }
        }
      }

      @include range-width(800px, 860px) {
        width: 195px;
        height: 320px;
        padding-right: 10px;


        @for $i from 1 through 10 {
          &:nth-child(#{$i}) {
            left: 195px * ($i - 2);
          }
        }
      }

      @include range-width(660px, 800px) {
        width: 240px;
        height: 360px;
        padding-right: 10px;


        @for $i from 1 through 10 {
          &:nth-child(#{$i}) {
            left: 240px * ($i - 2);
          }
        }
      }


      @include range-width(375px, 660px) {
        width: 320px;
        height: 380px;
        padding-right: 10px;


        @for $i from 1 through 10 {
          &:nth-child(#{$i}) {
            left: 320px * ($i - 2);
          }
        }
      }


      @include range-width(0, 325px) {
        width: 310px;
        height: 380px;
        padding-right: 10px;


        @for $i from 1 through 10 {
          &:nth-child(#{$i}) {
            left: 310px * ($i - 2);
          }
        }
      }
    }
  }


  .arrow_boxs {
    display: inline-block;
    width: 80px;
    height: 270px;
    padding: 0 20px;
    position: relative;

    .av {
      display: inline-block;
      width: 35px;
      height: 35px;
      position: absolute;
      top: 115px;
      left: 20px;
      border: 2px solid $blue;
      cursor: pointer;
      font-size: 1.6em;
      padding-top: 4px; 
      background-color: white;

      @include border-radius(30px);
      @include transition(all .3s);
      
      &:hover, &:active {
        border: 1px solid rgba(255, 0, 0, 0);
        color: white;
        background-color: $orange;
      }

    }
  }
  
}