
$blue: rgba(13, 40, 70, 1.00); // 深藍色
$blue_m: rgba(17, 65, 115, 1.00); // 中藍色
$blue_l: rgba(74, 143, 225, 1.00); // 亮藍色

$grey_l: rgba(245, 245, 245, 1.00); // 淺灰色（背景）
$grey_l2: rgba(209, 209, 214, 1.00); 
$grey_t: rgba(99, 99, 99, 1.00);
$grey_m: rgba(142, 142, 142, 1.00);
$grey_m2: rgba(142, 142, 142, .5);

$orange: rgba(253, 71, 42, 1.00);
$red: rgba(204, 0, 16, 1.00);