@import "Ginkgo";
@import "color";
@import "text";
@import "space";
@import "other";
@import "link";

a {
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  outline: 0;
}

button {
  display: inline-block;
  cursor: pointer;
  outline: 0;
  border: 0;
  background-color: transparent;
}

// footer
.f_nav {
  display: inline-block;
  color: white;
  font-size: 1rem;
  float: left;
  margin-right: 50px;
  @include transition(all .3s);

  &:hover, &:active {
    color: $blue_l;
  }
}

.pro_link {
  display: inline-block;
  width: 100%;
  height: 100%;
  border: 2px solid transparent;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  @include transition(all .3s);
  z-index: 1111;

  &:hover, &:active {
    border: 2px solid $blue;
  }
}

.like {
  display: inline-block;
  width: 25px;
  height: 25px;
  position: absolute;
  right: 15px;
  z-index: 2222;

  @include range-width(0, 450px) {
    height: 18px;
    right: 10px;
  }

  &:after {
    display: inline-block;
    content: '\f08a';
    font-size: 1.2rem;
    font-family: 'icon';
    color: rgba(142, 142, 142, 1);

    @include range-width(0, 450px) {
      font-size: 1rem;
    }
  }

  &:hover, &:active, &:focus {
    &:after {
      content: '\f004';
      color: red;
    }
  }
}

.cate_link {
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.btn_car {
  display: inline-block;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 2222;
  background-color: rgba(255, 255, 255, .8);
  @include border-radius(20px);
  font-size: 1.3rem;
  color: $orange;
  @include transition(all .3s);

  &.btn_trash {
    color: $grey_m;
    font-size: 1.2;

    &:hover, &:active, &:focus {
      background-color: $grey_m;
      color: white;
    }
  }

  @include range-width(0, 450px) {
    width: 35px;
    height: 35px;
    font-size: 1.2rem;
    top: 10px;
    right: 10px;
  }

  &:hover, &:active, &:focus {
    background-color: $orange;
    color: white;
  }
}


.pro03_btn_box {
  display: inline-block;
  width: 50%;
  position: absolute;
  left: 25%;
  bottom: -30px;
  padding: 10px 0; 
  background-color: white;
  @include border-radius(4px);
  color: $blue;
  font-size: 1.3rem;
  @include transition(all .3s);

  @include range-width(0, 450px) {
    width: 75%;
    left: 11%;
    bottom: 30px;
    font-size: 1.2rem;
    padding: 5px 0; 
  }

  &:after {
    display: inline-block;
    content: attr(title);
    width: 100%;
    font-size: 1rem;
    color: $grey_t;
    text-decoration: underline;

    @include range-width(0, 450px) {
      font-size: .9rem;
    }
  }

  &:hover, &:active {
    background-color: $blue_l;
    color: white;

    &:after {
      color: white;
    }
  }
}


.btn_more_grey {
  display: inline-block;
  padding: 10px 25px;
  background-color: transparent;
  border: 1px solid $grey_t;
  font-size: 1.2rem;
  color: $grey_t;
  @include border-radius(30px);
  @include transition(all .3s);

  @include range-width(0, 450px) {
    font-size: 1rem;
    padding: 8px 20px;
  }
  
  &:hover, &:active {
    border: 1px solid $blue;
    background-color: $blue;
    color: white;
  }
}


.btn_more_blue {
  display: inline-block;
  padding: 10px 25px;
  background-color: transparent;
  border: 1px solid $blue;
  font-size: 1rem;
  color: $blue;
  @include border-radius(30px);
  @include transition(all .3s);

  @include range-width(0, 450px) {
    padding: 8px 20px;
  }
  
  &:hover, &:active {
    border: 1px solid $blue;
    background-color: $blue;
    color: white;
  }
}

.menu_mob {
  display: inline-block;
  width: calc(100% / 3);
  padding: 15px 0 13px 0;
  float: left;
  color: $grey_m;
  font-size: 1rem;
  border-bottom: 2px solid white;

  &.menu_log_grey {
    border-bottom: 2px solid $grey_l;
  }

  &.page_menu_grey {
    background-color: rgba(245, 245, 245, 1.00);

    &:hover, &:active, &.menu_mob_ac2 {
      color: $blue_l;
      border-bottom: 2px solid $blue_l;
    }
  }

  &:hover, &:active, &.menu_mob_ac {
    color: $blue;
    border-bottom: 2px solid $blue;
  }
}
.menu_web {
  display: inline-block;
  font-size: 1.1rem;
  color: white;
  margin-right: 20px;
  @include transition(all .3s);

  &:hover, &:active {
    color: $orange;
  }
}

.page_type {
  color: $grey_t !important;

  &:hover, &:active {
    color: $blue_l !important;
  }
}

.menu_icon {
  display: inline-block;
  font-size: 1.35rem;
  color: white;
  margin-left: 30px;
  @include transition(all .3s);

  @include range-width(0, 450px) {
    margin-left: 15px;
  }

  &:hover, &:active {
    color: $orange;
  }

  &[data-count] {
    position: relative;
    
    &:after {
      content: attr(data-count);
      position: absolute;
      right: -14px;
      top: -10px;
      display: inline-block;
      padding: 2px 6px 2px 5px;
      background-color: #ea473c;
      color: white;
      font-size: 10px;
      display: inline-block;
      height: 24px;
      line-height: 20px;
      @include border-radius(15px);
      @include scale(.75);
      text-align: center;
    }
  }
}

.link_bread {
  display: inline-block;
  color: $grey_m;
  font-size: 1rem;
  float: left;
  @include transition(all .3s);

  @include range-width(0, 450px) {
    font-size: .9rem;
  }

  &:after {
    display: inline-block;
    content: '/';
    margin: 4px 8px 0 8px;
  }

  &:hover, &:active {
    color: $blue;

    &:after {
      color: $grey_m;
    }
  }

  &:last-child {
    &:after {
      display: none;
    }
  }
}

.btn_cart {
  display: inline-block;
  @include border-radius(4px);
  color: white;
  padding: 10px 20px;
  font-size: 1.1rem;
  background-color: $blue_m;
  @include transition(all .3s);
  float: right;

  @include range-width(0, 450px) {
    font-size: 1rem;
    padding: 10px;
  }

  &:hover, &:active {
    background-color: $orange;
  }
}

.btn_select {
  display: inline-block;
  @include border-radius(4px);
  border: 1px solid $grey_l2;
  color: $grey_t;
  font-size: 1.2rem;
  padding: 10px 0;

  @include range-width(0, 450px) {
    font-size: 1rem;
  }

  &.ac_check {
    padding: 10px 20px;
    font-size: 1.1rem;
  }

  &.btn_select3 {
    width: calc(100% / 3 - 15px * 2 / 3);
    float: left;

    &:nth-child(3n+2) {
      margin: 0 15px;
    }

    &:nth-child(n+4) {
      margin-top: 15px;
    }
  }

  &.m_btn_select3 {
    display: inline-block;
    width: auto;
    font-size: .9rem;
    text-align: left;
    padding: 8px 10px;
    margin: 0 10px 10px 0;
  }

  &.btn_select2 {
    width: calc(100% / 2 - 15px * 1 / 2);
    float: left;
    border: 1px solid $blue_m;
    color: $blue_m;

    &:first-child {
      margin-right: 15px;
    }
  }

  &:hover, &:active, &.on_select {
    background-color: $blue_m;
    border: 1px solid $blue_m;
    color: white;
  }

}

// account_left
.link_menu_left {
  display: inline-block;
  cursor: pointer;
  width: 100%;
  padding: 15px 0;
  color: $grey_t;
  font-size: 1.1rem;
  border-bottom: 1px solid $grey_l2;
  @include transition(all .3s);

  @include range-width(0, 450px) {
    width: calc(100% / 3);
    font-size: 1rem;
    float: left;
    border-right: 1px solid $grey_l2;
    padding: 10px 0;
    border-bottom: 0;

    &:last-child {
      border-right: 0;
    }
  }

  &.lml_s {
    color: white;
    background-color: $blue_m;

    &:hover, &:active {
      color: white;
    }
  }

  &:before {
    display: inline-block;
    content: '';
    margin-left: 15px;

    @include range-width(0, 450px) {
      margin-left: 0;
    }
  }

  &:hover, &:active {
    color: $blue_m;
  }

  &:last-child {
    border-bottom: 0;
  }
}


.link_order_info {
  display: inline-block;
  width: calc(100% / 6);
  font-size: 1.1rem;
  color: $grey_t;
  @include transition(all .3s);
  border-bottom: 2px solid white;
  padding: 15px 0;
  float: left;

  @include range-width(0, 450px) {
    font-size: .9rem;
  }

  &.loi_s {
    color:$blue_m;
    border-bottom: 2px solid $blue_m;

    &:hover, &:active {
      color:$blue_m;
    }
  }

  &:hover, &:active {
    color:$blue_m;
    border-bottom: 2px solid $blue_m;
  }
}

.point_order_info, .cupon_order_info {
  display: inline-block;
  width: calc(100% / 3);
  font-size: 1.1rem;
  color: $grey_t;
  @include transition(all .3s);
  border-bottom: 2px solid rgba(229, 228, 229, 1.00);
  padding: 15px 0;
  float: left;

  &.poi_s, &.coi_s {
    color:$blue_m;
    border-bottom: 2px solid $blue_m;

    &:hover, &:active {
      color:$blue_m;
    }
  }

  &:hover, &:active {
    color:$blue_m;
    border-bottom: 2px solid $blue_m;
  }
}


.ac_stor_name {
  display: inline-block;
  float: left;
  font-size: 1.1rem;
  font-weight: bolder;
  color: $blue;
  padding-top: 2px;
  @include transition(all .3s);

  &:before {
    display: inline-block;
    content: '\e90f';
    font-family: 'icon';
    margin-right: 8px;
    color: $blue_l;
  }

  &:hover, &:active {
    color: $orange;

    &:before {
      color: $blue_l;
    }
  }
}


.ticket_use {
  display: inline-block;
  font-size: .9rem;
  color: $blue_l;
  float: right;

  &:after {
    display: inline-block;
    content: '\e902';
    font-family: 'icon';
    line-height: 22px;
    margin-left: 3px;
  }
} 

.link_text13 {
  display: inline-block;
  font-size: .9rem;
  color: $grey_t;
  @include transition(all .3s);
  
  &:hover, &:active {
    color: $blue_l;
  }

  &.cart_tru {
    float: right;
    padding-top: 3px;
  }
}

.cart_cupon {
  display: inline-block;
  float: right;
  font-size: 1rem;
  color: $blue_l;

  @include range-width(0, 450px) {
    font-size: .9rem;
  }

  &:hover, &:active {
    color: $orange;
  }

  &:before {
    display: inline-block;
    content: '\e912';
    font-family: 'icon';
    padding: 4px 5px 0 0;
  }
}















