@import "Ginkgo";
@import "color";
@import "text";
@import "space";
@import "other";
@import "link";

body {
  position: relative;

  display: inline-block;
  width: 100%;

  margin: 0;
  padding: 0;
  color: rgba(90, 90, 90, 1.00);
  font-size: 13px;

  font-size: medium;
  text-align: center;
  font-family: 'Roboto', 'Noto Sans TC', "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;

  text-size-adjust: none;
  -webkit-text-size-adjust:none;
}


header {
  display: inline-block;
  width: 100%;
  background-image: url(../img/header_bg.png);
  background-repeat: repeat-x;
  background-attachment: fixed;

  &.page_white {
    background-image: none;
    background-color: white;
  }
}

#r_menu_boxs {

  &.nav_open {
    left: 0;
  }

  display: inline-block;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 100%;
  top: 0;
  z-index: 8888;
  background-color: white;
  overflow: auto;
  @include transition(left .3s, right .3s);
  @include clearfix();
  
  text-align: left;
  padding: 0; 
  // border-right: 1px solid rgba(226, 226, 226, 1.00);

  .r_menu_boxs {
    display: inline-block;
    width: calc(100% / 2);
    float: left;
    text-align: center;

    .r_menu_like {
      display: inline-block;
      width: 100%;
      border-bottom: 5px solid rgba(241, 241, 241, 1.00);
      padding: 10px 0 5px 0;
      color: $grey_t;
      font-size: 1.23rem;

      &:after {
        display: inline-block;
        content: attr(title);
        font-size: .8rem;
        width: 100%;
      }

      &:hover, &:active {
        color: $blue;
        border-bottom: 5px solid $blue;
      }
    }
  }

  > span {
    display: inline-block;
    width: 100%;
    padding: 10px 15px;
    color: $grey_t;
    text-decoration: none;
    cursor: pointer;
    @include transition(all .3s);
    border-bottom: 1px solid $grey_l;

    &:after {
      display: inline-block;
      content: '\e902';
      font-family: 'icon';
      color: $grey_t;
      font-size: 1.23rem;
      float: right;
    }

    &:hover, &:active {
      color: $grey_t;
      // border-top: 1px solid $color_light_p;
      border-bottom: 0; 
      background-color: rgba(216, 216, 216, 1.00);
    }
  }

  > a {
    display: inline-block;
    width: 100%;
    padding: 10px 15px;
    color: $grey_m;
    text-decoration: none;
    cursor: pointer;
    @include transition(all .3s);
    // border-bottom: 1px solid $color_light_p;

    &:hover, &:active {
      background-color: yellow;
    }

    &.th {
      padding-left: 40px;
    }
  }

  > span, > a {
    color: $grey_m;
    font-size: 1rem;

    &.db {
      padding: 10px 15px;
      border-bottom: 1px solid $grey_l;
    }

    &.db2 {
      padding: 10px 15px 0 15px;
    }
  }

  .ncu {
    cursor: auto;
    padding: 12px 15px;
    @include clearfix();
    border-top: 0;
    margin: 0;
    background-color: $blue;

    .icon-x {
      display: inline-block;
      cursor: pointer;
      width: 30px;
      // height: 30px;
      float: right;
      font-size: 1.35rem;
      // line-height: 40px;
      text-decoration: none;
      text-align: right;
      color: white;
    }
  }

  
  .s {
    border-bottom: 0;
    background-color: rgba(216, 216, 216, 1.00);

    &:after {
      -moz-transform:rotate(90deg);
      -webkit-transform:rotate(90deg);
      -o-transform:rotate(90deg);
      -ms-transform:rotate(90deg);
      transform:rotate(90deg);
      color: $grey_t;
    }

    + div {
      display: block;
    }
  }

  .m-smenu {
    display: none;
    border-bottom: 1px solid $grey_l;

    > a {
      display: inline-block;
      width: 100%;
      padding: 10px 15px 10px 20px;
      color: $grey_m;
      text-decoration: none;
      cursor: pointer;
      @include transition(all .3s);
      font-size: 1rem;
      border-bottom: 2px dotted $grey_l;

      &:last-child {
        border-bottom: 0;
      }

      &:hover, &:active {
        background-color: yellow;
      }
    }
  }
}

footer {
  display: inline-block;
  width: 100%;
  background-color: $blue;
  padding: 40px 0;

  @include range-width(0, 450px) {
    padding: 25px 0;
  }

  .footer_boxs {
    display: inline-block;
    width: 100%;
    max-width: 1200px;
    text-align: left;
    @include clearfix();

    @include range-width(0, 450px) {
      text-align: center;
    }

    .f_nav_box {
      display: inline-block;
      width: 50%;
      float: left;
      @include clearfix();
      
      @include range-width(0, 450px) {
        display: none;
      }
    }
  }
}

.banner_boxs {
  display: inline-block;
  width: 100%;
  height: 650px;

  // d
  background-color: rgba(255, 0, 0, 0.2);

  @include range-width(0, 450px) {
    height: 175px;
  }
}

main {
  display: inline-block;
  width: 100%;
  @include clearfix();

  &.page_grey {
    background-color: rgba(245, 245, 245, 1.00);
  }
}

.min_boxs {
  display: inline-block;
  width: 100%;
  margin: 0, auto;
  @include clearfix();

  &.mw_600 {
    max-width: 600px;

    @include range-width(0, 450px) {
      padding: 0 15px;
    }
  }

  &.mw_400 {
    max-width: 400px;
  }
}

.all_boxs {
  display: inline-block;
  width: 100%;
  @include clearfix();

  &.poa {
    position: relative;
  }

  &.bg_grey, &.bg_blue, &.bg_white, &.bg_grey_l {
    padding: 50px 0;

    @include range-width(0, 450px) {
      padding: 25px 15px;
    }
  }

  &.bg_grey {
    background-color: $grey_l;
  }

  &.bg_blue {
    background-color: $blue;
  }

  &.bg_white {
    background-color: white;
  }

  &.bg_grey_l {
    background-color: rgba(245, 245, 245, 1.00);
  }
}

.item_boxs {
  display: inline-block;
  width: 100%;
  max-width: 1200px;
  @include clearfix();

  @include range-width(0, 450px) {
    max-width: none;
  }

  &.bg_line {
    display: inline-block;
    height: 13px;
    background-image: url(../img/border.svg);
    background-repeat: repeat-x;
  }
}

#cate_boxs {
  @include range-width(0, 450px) {
    width: 100%;
    overflow-x: scroll;
    height: 115px;
  }
}

.block2_l, .block2_r {
  display: inline-block;
  float: left;
}

.block2_l {
  width: 20%;
  padding-right: 20px;

  @include range-width(0, 450px) {
    width: 100%;
  }
}

.block2_r {
  width: 80%;

  @include range-width(0, 450px) {
    width: 100%;
  }
}

.menu_left_boxs {
  display: inline-block;
  width: calc(100% - 30px);
  margin-right: 30px;
  background-color: white;
  @include border-radius(4px);
  @include box-shadow(0 3px 3px rgba(220, 219, 220, .5));
  text-align: left;
  overflow: hidden;
}

// account
.accountbox, .order_info, .order_point, .order_cupon {
  display: inline-block;
  width: 100%;
  // 控制按鈕分頁，設定預設值是沒有顯示
  display: none;

  &.accountbox_show, &.order_info_show, &.order_point_show, &.order_cupon_show {
    display: inline-block;
  } 
}

.order_boxs {
  display: inline-block;
  width: 100%;
  background-color: white;
  @include border-radius(4px);
  @include box-shadow(0 1px 1px rgba(220, 219, 220, .5));
  overflow: hidden;
}

.white_boxs {
  display: inline-block;
  width: 100%;
  background-color: white;
  @include border-radius(4px);
  @include box-shadow(0 1px 1px rgba(220, 219, 220, .5));
  overflow: hidden;
  padding: 15px;

  &.ac_point_white {
    @include border-radius(0);
    border-bottom: 1px solid rgba(229, 228, 229, 1.00);
  }

  &.ac_cupon_white {
    padding: 40px 20px;
    -webkit-border-bottom-right-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;

    -webkit-border-top-left-radius: 0;
    -webkit-border-top-right-radius: 0;
    -moz-border-radius-topleft: 0;
    -moz-border-radius-topright: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

// account 訂單明細 - 商品
.pro_info_box {
  display: inline-block;
  width: 100%;
  padding: 10px 0;
  @include clearfix();
  text-align: left;
  position: relative;

  .pro_img {
    display: inline-block;
    float: left;
    width: 105px;
    height: 105px;
  }

  .pro_info {
    display: inline-block;
    float: left;
    width: calc(100% - 105px - 150px);
    padding-left: 20px;
  }

  .pro_price {
    display: inline-block;
    float: left;
    width: 150px;
    text-align: right;
    position: absolute;
    right: 15px;
    bottom: 15px;
  }
}

.pro_status {
  display: inline-block;
  float: right;

  &:before {
    display: inline-block;
    content: '|';
    color: $grey_m;
    margin: 4px 5px 0 8px;
  }


  &:last-child {
    &:before {
      display: none;
    }
  }
}

.ticket_boxs {
  display: inline-block;
  width: calc(100% / 2 - 25px * 1 / 2);
  height: 150px;
  @include border-radius(4px);
  border: 1px solid rgba(229, 228, 229, 1.00);
  overflow: hidden;
  @include clearfix();
  float: left;
  text-align: left;

  &.ticket_used {
    filter: grayscale(1) opacity(.5);
  }

  &:nth-child(2n+1) {
    margin-right: 25px;
  }

  &:nth-child(n+3) {
    margin-top: 25px;
  }

  .ticket_img {
    display: inline-block;
    width: 30%;
    height: 100%;
    float: left;
    background-color: $blue_m;
    font-size: 3rem;
    color: white;
    text-align: center;
    line-height: 150px;
  }

  .ticket_info {
    display: inline-block;
    width: 70%;
    padding: 15px;
    float: left;
  }
}

.boxs20, .boxs80, .boxs50 {
  display: inline-block;
  float: left;
}

.boxs20 {
  width: 20%;
}
.boxs80 {
  width: 80%;
}

.boxs50 {
  width: 50%;
  text-align: left;

  &.boxs50_2 {
    width: calc(50% - 25px * 1 / 2);

    &:first-child {
      margin-right: 25px;
    }
  }
}

.boxs_3, .boxs_4, .boxs_5 {
  display: inline-block;
  float: left;
  background-color: white;
}

.boxs_3 {
  width: calc(100% / 3 - 20px * 2 / 3);

  &:nth-child(3n+2) {
    margin: 0 20px;
  }

  &:nth-child(n+4) {
    margin-top: 50px;
  }

  @include range-width(0, 450px) {
    width: 100%;
    margin-bottom: 30px;

    &:nth-child(n+4) {
      margin-bottom: 0;
    }

    &:nth-child(n+5) {
      display: none;
    }

    &:nth-child(3n+2) {
      margin: 0 0 30px 0;
    }

    &:nth-child(n+4) {
      margin-top: 0;
    }
  }
}

.boxs_4 {
  width: calc(100% / 4 - 20px * 3 / 4);
  margin-left: 20px;

  &:nth-child(4n+1) {
    margin-left: 0;
  }

  &:nth-child(n+5) {
    margin-top: 30px;
  }

  @include range-width(0, 450px) {
    width: calc(100% / 2 - 15px * 1 / 2);
    margin-left: 15px;

    &:nth-child(2n+1) {
      margin-left: 0;
    }

    &:nth-child(n+3) {
      margin-top: 20px;
    }

    &:nth-child(4n+1) {
      margin-left: 0;
    }
  }
}

.boxs_5 {
  width: calc(100% / 5 - 25px * 4 / 5);
  margin-left: 25px;

  &:nth-child(5n+1) {
    margin-left: 0;
  }
  &:nth-child(n+6) {
    margin-top: 25px;
  }

  @include range-width(0, 450px) {
    width: calc(100% / 2 - 15px * 1 / 2);
    margin-left: 15px;
    margin-bottom: 20px;

    &:nth-child(2n+1) {
      margin-left: 0;
    }

    &:nth-child(n+7) {
      display: none;
    }

    &:nth-child(5n+1) {
      margin-left: auto;
    }
    &:nth-child(n+6) {
      margin-top: 0;
      margin-left: 15px;
    }
  }
}

.boxs_8 {
  display: inherit;
  width: calc(100% / 8 - 40px * 7 / 8);
  float: left;
  margin-left: 40px;
  position: relative;


  &:nth-child(8n+1) {
    margin-left: 0;
  }

  @include range-width(0, 450px) {
    width: 80px;
  }
}

.top_left, .top_main, .top_right {
  display: inline-block;
}

.top_left {
  float: left;

  @include range-width(0, 450px) {
    display: none;
  }
}

.top_main {
  margin: 0 auto;

  @include range-width(0, 450px) {
    float: left;
  }
}

.top_right {
  float: right;
}

.pro_select_boxs {
  display: inline-block;
  width: calc(100% - 10%);
  float: right;
}

// product detail pic
// 上面
.explain_pic_boxs {
  display: inline-block;
  width: 100%;

  .ep_left {
    width: 500px;
    padding-left: 10px;
    float: left;

    .epl_pic {
      position: relative;
      background-color: white;
      height: 514px;
      border: 1px solid rgba(211, 211, 211, 1.00);

      img {
        width: 100%;
        height: auto;
      }
    }          
  }

  .ep_right {
    width: calc(100% - 540px);
    float: left;

    .epr_pic {
      background-color: white;
      margin-bottom: 10px;
      height: 48px;
      border: 1px solid rgba(211, 211, 211, 1.00);

      img {
        width: 100%;
        height: auto;
      }
    }
  }
}








