@import "Ginkgo";

// index boxs space
.pad_T50 {
  padding-top: 50px;
}

// product info boxs
.pad_15 {
  padding: 15px 10px;
}

// product otu space
.mad_D30 {
  margin-bottom: 30px;
}

// 
.pad_D10 {
  padding-bottom: 10px;
}

// cate
.pad_T10 {
  padding-top: 10px;
}

// header
.pad_TD20 {
  padding: 20px 0;
}


