@import "Ginkgo";
@import "color";
@import "text";
@import "space";
@import "other";
@import "link";

.test_boxs {
  display: inline-block;
  width: 100%;
  max-width: 600px;
  padding: 20px;
  border: 1px solid rgba(255, 0, 0, .3);
}