@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?oohjit');
  src:  url('fonts/icomoon.eot?oohjit#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?oohjit') format('truetype'),
    url('fonts/icomoon.woff?oohjit') format('woff'),
    url('fonts/icomoon.svg?oohjit#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cancel:before {
  content: "\e90a";
}
.icon-menu:before {
  content: "\e907";
}
.icon-search:before {
  content: "\e920";
}
.icon-x:before {
  content: "\e909";
}
.icon-ticket:before {
  content: "\e912";
}
.icon-add:before {
  content: "\e90c";
}
.icon-remove:before {
  content: "\e90d";
}
.icon-keyboard_arrow_down:before {
  content: "\e900";
}
.icon-keyboard_arrow_left:before {
  content: "\e901";
}
.icon-keyboard_arrow_right:before {
  content: "\e902";
}
.icon-keyboard_arrow_up:before {
  content: "\e903";
}
.icon-first_page:before {
  content: "\e908";
}
.icon-last_page:before {
  content: "\e90b";
}
.icon-credit_card:before {
  content: "\e90e";
}
.icon-storefront:before {
  content: "\e90f";
}
.icon-shopping-bag:before {
  content: "\e904";
}
.icon-truck:before {
  content: "\e911";
}
.icon-user:before {
  content: "\e905";
}
.icon-trash:before {
  content: "\e906";
}
.icon-heart:before {
  content: "\f004";
}
.icon-heart-o:before {
  content: "\f08a";
}
.icon-currency-dollar:before {
  content: "\e910";
}
